@use "../foundation/base" as b;

.l-footer {
  padding: b.$space_xs;
  line-height:20px;
  text-align: center;
  position: sticky;
	top: 100vh;
  &__logo{
    width: 250px;
    height: auto;
    margin: 0 auto 40px;

  }
  &__img{
    
  }
}

