@use "../foundation/base" as b;

// =======================================================
// layout
// =======================================================
.l-header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 20;
}

.l-nav {
  font-family: b.$font-family_title;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  justify-content: center;
  line-height: 100px;
  transition: all 0.3s;
  @include b.md() {
    line-height: 70px;
  }
  &__title {
    color: b.$font-color_header;
    font-size: b.rem(44);
    @include b.md() {
      font-size: b.rem(36);
    }
  }
}
.l-menu {
  font-family: b.$font-family_title;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  font-weight: bold;
  transition: 0.3s;
  font-size: b.rem(24);
  left: 100vw;
  @include b.md() {
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: calc(100% - 100px);
    padding: 100px 0;
    overflow: auto;
    background: b.$bgColor;
    font-size: b.rem(44);
    animation: fade-out 0.4s;
  }
  &__item {
    margin: 0 auto;
    position: relative;
    @include b.md() {
      padding: b.$space_m;
    }
    &::after {
      position: absolute;
      left: -10px;
      top: 35%;
      content: "";
      width: 2px;
      height: 30px;
      background: b.$font-color_second;
      opacity: 1;
      visibility: hidden;
      transition: 0.3s;
      @include b.md() {
        left: -10px;
        top: 35%;
        width: 2px;
        height: 50px;
      }
    }
    &:hover::after {
      visibility: visible;
      left: 80px;
      opacity: 1;
      @include b.md() {
        left: 160px;
      }
    }
  }
  &__link {
    color: b.$font-color_header;
    background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
    transition: 0.3s, background-position 0.3s 0.3s;
  }
  &__link:hover {
    color: b.$font-color_default;
  }
}

.res-active {
  left: 0vw;
}

.l-hamburger {
  display: none;
  transition: 0.4s;
  box-sizing: border-box;
  position: absolute;
  margin: b.$space_s;
  width: 70px;
  height: 70px;
  right: 0;
  z-index: 3;
  cursor: pointer;
  @include b.mq() {
    display: block;
  }
  @include b.md() {
    display: block;
  }

  &__bar {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 4px;
    margin: 15px;
    background: b.$font-color_default;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 18px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}
.hamburger__bar-active {
  &:nth-of-type(1) {
    transform: translateY(17px) rotate(-45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    transform: translateY(-17px) rotate(45deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 100vw;
    display: none;
  }
}
