@use "../../foundation/base" as b;


.p-diary{
  padding: 40px 0;
  background-color: b.$font-color_header;
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    :last-child {
      border-right: 0px;
    }
  }
  &__item{
    width: calc(24% - 1px);
    border-right: solid 1px b.$font-color_second;
    @include b.md(){
      width: calc(50% - 1px);
    }
    @include b.mq(){
      width: 100%;
    }
  }
  &__img{
    width: 100%;
    height: auto;
  }
  &__detail{
    padding: 10px;
    background: b.$back-ground-color1;
  }
  &__title{
    font-size: b.rem(16);
    font-weight: bold;
  }
  &__day{
  }
  &__text{
  }
  &__more{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 80px;
    font-size: b.rem(24);
    color: b.$font-color_third;
    background: b.$btn-color;
  }
}