@use "../../foundation/base" as b;


.p-goods{
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  &__container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &__detail{
    font-size: b.rem(16);
  }
}